@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Girassol', cursive;
}

html{
  font-size: 10px;
}

.upper_div{
  background-color:rgb(29, 36, 59) ;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.middle_div{
  overflow: hidden;
  width: 30%;
  height: 80vh;
  background-color: rgb(218, 190, 199); 
  border-radius: 6%;
  box-shadow: 2.5px 7px rgb(220, 219, 223, 0.4);
}
h1{
  display: flex;
  margin: 2.5rem 0 2.5rem 0;
  height: 4rem;
  justify-content: center;
  color: azure;
  background-color: rgb(42, 17, 100);
  align-items: center;
  font-size: x-large;
}
input{
  height: 4rem;
  text-align: center;
  width: 70%;
  background: transparent;
  border: none;
  font-size: large;
  font-weight: bold;
  outline: none;
  margin-bottom: 2rem;
  border-bottom: 4px solid whitesmoke;
}

button{
  justify-content: center;
  min-width: 4rem;
  min-height: 4rem;
  margin-left: 3.3rem;
  font-size: 2.5rem;
  font-weight: bold;
  outline: none;
  color: whitesmoke;
  background-color: rgb(133, 120, 182);
  border-radius: 50%;
  /* border-color: transparent; */
  border: none;
  box-shadow: 1px 0.5px ;
}

button:hover{
  background-color: rgb(21, 145, 58);
}

.sc{
  height: 58.5vh;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 1rem;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(93, 96, 141); 
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c355c; 
}

.displayStyle{
  margin: 1rem 0 1.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* text-align: left; */
}

/* .fa { color: rgb(74, 58, 141); font-size: 2.5rem; } */

.cross {
  color: rgb(87, 60, 194);
  font-size: 2.5rem;  
  margin: 0 0 0 0.5rem; 
}

.text{
  margin: 0 0 0 2rem;
  text-transform: capitalize;
  font-size: 2.5rem;
  min-height: 2rem;
  color: rgb(61, 55, 55);
}

.check{
  color: rgb(143, 143, 228);
  font-size: 2.5rem; 
  margin: 0 0.5rem 0 0;
}

#cross:hover { color: red; }
#check:hover { color: rgb(7, 207, 57); }

@media (max-width: 449px){
  .middle_div{
    margin: 0 auto;
    height: 90vh;
    width: 90%;
  }
}

@media (min-width: 450px){
  .middle_div{
    margin: 0 auto;
    height: 85vh;
    width: 70%;
  }
}
@media (min-width: 650px){
  .middle_div{
    margin: 0 auto;
    height: 82vh;
    width: 60%;
  }
}

@media (min-width: 768px){
  .middle_div{
    height: 80vh;
    width: 50%;
  }
}
@media (min-width: 992px){
  .middle_div{
    height: 80vh;
    width: 40%;
  }
}
@media (min-width: 1200px){
  .middle_div{
    margin: 0 auto;
    height: 80vh;
    width: 30%;
  }
}
